body{
    background-color: #ffffff;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    width:350px;
}
@media (max-width:770px){
    .container{
        margin:0 10px;

    }
    .logo{
        width: 70%;
    }
}
span{
    color:red;
}
p{
    color:rgb(177, 177, 177);
    font-family: monospace;
    text-align: center;
    font-size: 2vh;
}